<div class="jumbotron text-center">
  <form>
    <div class="input-group">
      
      <input type="text" #nome class="form-control" size="50" placeholder="Busque por um cliente" required>
       <div class="input-group-btn">
        <button (click)="pegaCliente(nome)" type="submit" class="btn btn-danger">Buscar</button>
     </div>
    </div>
  </form>
</div>

      <table class="table"> 
        <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Genero</th>
      <th>Idade</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Username</th>
    </tr>
        <tr *ngFor="let x of clientes">
                <td title="'id">{{x.id}}</td>
                <td title="'Nome'">{{x.fullName}}</td>
                <td title="'Genero'">{{x.gender}}</td>
                <td title="'Idade'">{{x.age}}</td>
                <td title="'Email'">{{x.email}}</td>
                <td title="'Tel'">{{x.phone}}</td>
                <td title="'Username'">{{x.username}}</td>
            </tr>
      </table>
    
                                               
         


 